.contact-page {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
}

.contact-header {
    background: #10aee6;
    text-align: center;
    color: white;
    padding: 35px 20px;
}

.contact-header p {
    color: yellow;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 12px;
}

.contact-header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.contact-header h3 {
    font-size: 18px;
    font-weight: 500;
}

.contact-content {
    display: flex;
    align-items: center;
}

.contact-map {
    width: 50%;
}

.contact-map img {
    width: 100%;
    display: block;
}

.contact-info {
    width: 50%;
    padding: 40px;
}

.contact-info h2 {
    color: #11ace4;
    margin-bottom: 25px;
    font-size: 30px;
}

.contact-info p {
    font-size: 20px;
    line-height: 1.8;
    color: #555;
}

.work-time {
    margin-top: 25px;
}

.work-time p {
    color: #11ace4;
    font-weight: bold;
}